/* Base Styles - Mobile First */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  main {
    padding: 0 1rem; /* Reduced padding for small screens */
    margin: 0 auto;
  }
  
  .corporate-nav {
    background-color: #003366; /* dark blue */
    color: white;
    padding: 1rem;
  }
  
  .nav-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .subtitle,
  .title-header {
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #2c3e50;
  }
  
  img {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px #eef;
    display: block;
    margin: 1.5rem 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.05);
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  code, pre {
    background-color: #eef;
    color: #2c3e50;
    padding: 0.5rem;
    display: block;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  ul {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    margin-bottom: 0.5rem;
    color: #34495e;
  }
  
  th, td {
    padding: 0 15px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }
  
  pre {
    scroll-behavior: smooth;
  }
  
  
  /* Responsive Styles - Tablet & Up */
  @media (min-width: 600px) {
    .logo {
        font-size: 1.2rem;
    }
  
    .title {
        font-size: 2rem;
    }
  
    main {
        padding: 2rem;
    }
  }
  
  /* Responsive Styles - Desktop & Up */
  @media (min-width: 1024px) {
    main {
        padding-left: 4.4rem;
    }
  
    .nav-container {
        max-width: 1200px;
        padding: 0;
    }
  
    .corporate-nav {
        padding: 2rem;
    }
  
    .title {
        font-size: 2.2rem;
    }
  }
  
  .copyright {
    text-align:center; 
    padding: 1em 0; 
    font-size: 0.9em; 
    color: #777;
  }
  
  